* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --bg-color: black;
  --border-color: rgba(255, 255, 255, 0.5);
  --button-color: rgba(255, 255, 255, 0.1);
  --button-hover: rgba(255, 255, 255, 0.25);
  --switch-image: url(./assets/MoonStars.svg);
}

.light {
  --base-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --bg-color: white;
  --border-color: rgba(0, 0, 0, 0.5);
  --button-color: rgba(0, 0, 0, 0.1);
  --button-hover: rgba(0, 0, 0, 0.25);
  --switch-image: url(./assets/Sun.svg);
}

body {
  /*background: color image repeat position/size;*/
  background: var(--bg-color) var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Lora", serif;
  color: var(--base-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/* switch */
#switch {
  width: 64px;
  margin: 4px auto;
  position: relative;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-image) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  /*
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  */
  z-index: 1;
}

.light #switch button {
  /*left: initial;*/
  right: 0;
}

#switch span {
  display: block;
  width: 64px;
  height: 32px;
  background: var(--button-color);
  border: 2px solid var(--border-color);
  border-radius: 9999px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* botoes */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--border-color);
  border-radius: 27px;
  background-color: var(--button-color);

  padding: 16px 24px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  text-decoration: none;
  font-weight: 500;

  transition: background 0.5s;
}

ul li a:hover {
  background-color: var(--button-hover);
  border: 2px solid var(--base-color);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/* icones */
#social-links {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 24px 0;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;

  transition: background 0.5s;
}

#social-links a:hover {
  background-color: var(--button-hover);
  padding: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
